body {
  background-color: var(--light);
}

.num-col {
  white-space: nowrap;
  text-align: center;
}

.date-col {
  text-align: right;
}

.table td,
.table th {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .ui-col+.ui-col {
    margin-top: 1rem;
  }
}

#city {
  flex: 1;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

ul {
  margin-bottom: 0;
}
